.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow: 0px 0px 18px rgb(0, 195, 255);
  animation-name: hi;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}@keyframes hi{
    from{
        background-color: rgb(0, 243, 32);
        background-color: cyan;
        background-color: darkcyan;
    }

    to{
            background-color: yellow;
            background-color: teal;
            background-color: turquoise;
    }
}
.note
{
  font-size: 15px;
  color: black;
  font-weight: bold;
}
body
{
  background-size: cover;	
}
  #song
  {
  	font-size: 23px;
  	margin: 15px;
      box-shadow: 0px 0px 18px rgb(0, 195, 255);
      animation-name: so;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }@keyframes so{
        from{
            background-color: rgb(183, 7, 7);
            background-color: rgb(13, 107, 107);
            background-color: rgb(247, 243, 7);
        }
    
        to{
                background-color: yellow;
                background-color: rgb(0, 255, 255);
                background-color: rgb(0, 0, 0);
        }
    }
    canvas 
  {
    border:5px solid rgb(0, 0, 0);
    border-radius:20px;
    box-shadow: 0px 0px 18px rgb(0, 195, 255);
    background-color: white;
  }